<a href="https://colab.research.google.com/github/Vishu52/9d9b93d3-2a90-4e7f-96c1-7607df7a178f/blob/main/Recuesiong_question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Q1 Tower of Hanoi
def tower_of_hanoi(n, source, destination, auxiliary):
    if n == 1:
        print("Move disk 1 from", source, "to", destination)
        return
    tower_of_hanoi(n-1, source, auxiliary, destination)
    print("Move disk", n, "from", source, "to", destination)
    tower_of_hanoi(n-1, auxiliary, destination, source)

print("Tower of Hanoi with 3 disks:")
tower_of_hanoi(3, 'A', 'C', 'B')


# Q2 Edit Distance
def edit_distance(w1, w2):
    m, n = len(w1), len(w2)
    dp = [[0]*(n+1) for _ in range(m+1)]
    for i in range(m+1):
        dp[i][0] = i
    for j in range(n+1):
        dp[0][j] = j
    for i in range(1, m+1):
        for j in range(1, n+1):
            if w1[i-1] == w2[j-1]:
                dp[i][j] = dp[i-1][j-1]
            else:
                dp[i][j] = 1 + min(dp[i-1][j], dp[i][j-1], dp[i-1][j-1])
    return dp[m][n]

print("Edit distance horse → ros =", edit_distance("horse", "ros"))
print("Edit distance intention → execution =", edit_distance("intention", "execution"))


# Q3 Max value in array
arr1 = [13, 1, -3, 22, 5]
max_value = arr1[0]
for x in arr1:
    if x > max_value:
        max_value = x
print("Max value =", max_value)


# Q4 Sum of array
arr2 = [92, 23, 15, -20, 10]
total = 0
for x in arr2:
    total += x
print("Sum =", total)


# Q5 Armstrong number
def is_armstrong(num):
    digits = len(str(num))
    total = 0
    temp = num
    while temp > 0:
        d = temp % 10
        total += d ** digits
        temp //= 10
    return total == num

print("153 Armstrong?", "Yes" if is_armstrong(153) else "No")
print("134 Armstrong?", "Yes" if is_armstrong(134) else "No")

Tower of Hanoi with 3 disks:
Move disk 1 from A to C
Move disk 2 from A to B
Move disk 1 from C to B
Move disk 3 from A to C
Move disk 1 from B to A
Move disk 2 from B to C
Move disk 1 from A to C
Edit distance horse → ros = 3
Edit distance intention → execution = 5
Max value = 22
Sum = 120
153 Armstrong? Yes
134 Armstrong? No